.card_main_box{
 margin-bottom: 20px;
 margin-top: 60px;
}



.card_box_item{
    margin-top: 60px;
}

.card_box_item .bxo{
    margin: auto;
    border-radius: 5px;
     
     max-width: 500px;
     height: auto;
     padding: 20px 5px;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card_box_item .text p{
      font-size: 12px;
      margin-bottom: 0;
}
.card_box_item .btn_box button{
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    border: none;
    background-color: rgb(79 70 229);
   color: white;
    border-radius: 5px;
}
.card_box_item .btn_box button:hover{
     color: rgb(14, 13, 13);
}